.comments {
   margin-top: 3rem;
   margin-bottom: 4.2rem;
}

.comments__title {
   font-style: normal;
   font-weight: 500;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: $white;
   margin-bottom: 1.9rem;
}

.comments__text {
   display: block;
   width: 100%;
   border: none;
   background-color: transparent;
   border-bottom: 1px solid #3F3F3F;
   resize: none;
   border-radius: none;
   box-shadow: none;
   height: 2.6rem;
   margin-bottom: 1.2rem;
   color: $white;
   font-family: inherit;
   overflow: hidden;

   &::placeholder {
      opacity: 0.8;
   }

   &:focus {
      background-color: rgba($blue, 0.2)
   }
}

.comments__form {
   margin-bottom: 5rem;
}