.post {
   background: $primary;
   box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
   border-radius: 5px;
   margin-bottom: 3rem;
   overflow: hidden;
}

.post__content {
   padding: 2.5rem;
   padding-bottom: 1.5rem;
}

.post__text {
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 2.1rem;
   color: #D2D2D2;
}

.post__data {
   font-style: normal;
   font-weight: 400;
   font-size: 1.2rem;
   line-height: 1.4rem;
   color: #828282;
   padding: 0 0 2.5rem 2.5rem;
}

.post__data-item {
   display: inline-block;
   margin-right: 1rem;
}

.post__header {
   width: 100%;
   object-fit: cover;
}

.post__title {
   font-style: normal;
   font-weight: 500;
   font-size: 1.8rem;
   line-height: 2.1rem;
   color: $white;
   margin-bottom: 1.5rem;
}