<div class="modal">
   <div class="modal__content">
      <section class="signup">

         <form action="#" method="post" class="signup__form">
            <input type="text" class="signup__item signup__item--modal" placeholder="Ваше Имя">
            <input type="email" class="signup__item signup__item--modal" placeholder="Ваш E-mail" checked>
            <input type="text" class="signup__item signup__item--modal" placeholder="Текст сообщения">
            <button class="button button--blue button--square">Отправить</button>
            <ul class="modal__footer">
               <li class="modal__footer__item">e-mail: <a href="mailto:info@mywebsite.ru">info@mywebsite.ru</a></li>
               <li class="modal__footer__item">тел: <a href="tel:+94323285622">+943-232-856-22</a></li>
            </ul>
         </form>

         <button class="modal__close" type="button">
            <img src="assets/images/07_modal/close.svg" alt="Закрыть">
         </button>

      </section>
   </div>
</div>