<div class="modal" id="share-modal">
   <div class="modal__content">
      <button class="modal__close" type="button">
         <img src="assets/images/07_modal/close.svg" alt="Закрыть">
      </button>

      <ul class="share__modal">
         <li class="share__modal__item">
            <a href="#">
               <img src="assets/images/07_modal/facebook.svg" alt="Facebook">
            </a>
         </li>
         <li class="share__modal__item">
            <a href="#">
               <img src="assets/images/07_modal/twitter.svg" alt="Facebook">
            </a>
         </li>
         <li class="share__modal__item">
            <a href="#">
               <img src="assets/images/07_modal/vk.svg" alt="Facebook">
            </a>
         </li>
         <li class="share__modal__item">
            <a href="#">
               <img src="assets/images/07_modal/copy.svg" alt="Facebook">
            </a>
         </li>
      </ul>

   </div>
</div>